.slider {
	margin: 0 auto;
	padding: 0;
	width: 640px;
	height: 270px;
	position: relative;
	border: 1px solid green;
	overflow: hidden;
}

.btn {
	position: absolute;
	top:0;
	width:100px;
	height:270px; 
	z-index: 10; 
	cursor:pointer;  
	opacity:0.8;
}

.pre {
	left: 0;
	background: url(../images/btn_l.png) no-repeat center center #112;
	opacity 0.2;
}

.next {
	right: 0;
	background: url(../images/btn_r.png) no-repeat center center #112; 
	opacity 0.2;
}

.slider-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.slider-list img, .slider-list a{
	width: 640px;
	height: 270px;
	position: absolute;
	display: block;
}
